    .usercard__container img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 0.1rem;
        margin-bottom: 0.5rem;
    }

    /* Team Page Styles  */
    .team__container {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        height: fit-content;
    }

    .team__container .team__title {
        font-weight: bold;
        font-size: 6rem;
    }

    .team__container .team__subtitle {
        font-size: 2rem;
        color: #808080;
        margin-bottom: 10rem;
    }

    .usercard__container {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .usercard__container img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 0.1rem;
        margin-bottom: 0.5rem
    }

    .usercard__subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f4f4f4;
    align-items: center;
    padding: 1.5rem;
    border-radius: 2px;
    margin: 1rem;
}

    .usercard__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    a.button_profile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 160px;
    }



    .usercard__title {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
    }

    .usercard__subtitle { 
        color: #568A96;
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .usercard__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
    }

    .usercard__icons a svg {
        color: #808080;
        
    }

    .usercard__icons a {
        display: flex;
    }

    .usercard__icons a svg:hover {
        color: #568A96;
    }
    

    .button_profile {
        margin-left: 1rem;
        background: #568A96;
        color: whitesmoke;

        padding: 0.5rem;
        border-radius: 0.2rem;
    }

    .button_profile:hover {
        background: transparent;
        border: 1px solid #568A96;
    }

    @media ( max-width: 1180px ) {
        .usercard__container {
            grid-template-columns: 1fr 1fr ;
    }
}

    @media ( max-width: 790px ) {
        .usercard__container {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
/* End Team Page Styles */

.active__sub-linkoff {
    display: none;
}

.active__sub-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(27,67,76,1);
}

/* Research Page */
.nav {
    display: flex;
}

.nav>li>a, .nav>li>a {
    text-decoration: none;
    background-color: #eee;
    margin-right: 10px;
    color: #000
}

.nav>li>a:hover, .nav>li>a:focus {
    color: #568A96;
}

.justify-content-center {
    justify-content: center;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c3c3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(8,41,43);
}

.project {
    /* border-radius: 1px; */
    background: #d4dfe1;
    padding: 1rem;
    margin-top: 1rem;
}

label {
    font-weight: 400;
    margin-left: 3px;
    text-transform: uppercase;
}

.site-name-subtitle {
    display: block;
    margin-top: -1.7rem;
    color: #089e97;
    font-size: 75%;
}

.clear-button {
    border: 0;
    padding: 0.2rem 1rem;
}

@media (max-width: 807px) {
    .site-name-subtitle {
        display: none;
    }
}